// fonts
$sans-light: WorkSans-Light;
$sans-regular: WorkSans-Regular;
$sans-medium: WorkSans-Medium;
$sans-semibold: WorkSans-SemiBold;
$sans-bold: WorkSans-Bold;
$segoe-regular: Segoe UI;
$segoe-italic: Segoe UI-Italic;
$segoe-bold: Segoe UI-Bold;

// colors
$white: #ffffff;
$black: #000000;
$black-light: #5a5a5a;
