@import 'assets/scss/base.scss';

.consequence {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;

  .consequence-delete {
    position: absolute;
    left: -32px;
  }
  .consequence-safety {
    flex: 2;
  }
  .consequence-environment {
    flex: 1;
  }
}
