@import 'assets/scss/base.scss';

.cell {
  width: 100%;
  height: 56px;
  margin-bottom: 4px;
  padding: 15px 0px;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;

  &.undefined {
    width: 45px;
    height: 36px;
    padding: 6px 0px;
    border-radius: 3px;
    border: 2px solid #ffffff;
    background-color: #cfcfcf;
  }

  &:hover {
    outline: 2px solid #02abfc;
  }
}
